# Exclude everything by default
*

# Include only backend-specific files
!package*.json
!yarn.lock
!src/
!tsconfig*.json
!nest-cli.json
!dist/

# Exclude unnecessary files
node_modules
npm-debug.log
.git
.gitignore
README.md
.env
.nyc_output
coverage
.coverage
.cache
build
.DS_Store
*.log

# Exclude test files
test/
**/*.spec.ts
**/*.test.ts
**/*.integration.spec.ts
